<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<title>교육영상 시청</title>

<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="css/eduboard_style.css">
<link rel="stylesheet" href="css/colors/navy.css" id="colors">

<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>
<div id="wrapper">


<!-- Header
================================================== -->
<header>
<div class="container">
	<div class="sixteen columns">

		<!-- Logo -->
		<div id="logo">
			<h1><a href="index.html"><img src="images/logo.png" alt="Work Scout" /></a></h1>
		</div>

		<!-- Menu -->
		
		<!-- Navigation -->

	</div>
</div>
</header>
<div class="clearfix"></div>


<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="ten columns">
			<span>1,412 개의 교육영상이 있습니다!:</span>
			<!-- <h2>Web, Software & IT</h2> -->
		</div>

		<div class="six columns">
			<a href="add-media.html" class="button">교육영상 등록</a>
		</div>

	</div>
</div>


<!-- Content
================================================== -->
<div class="container">
	<!-- Recent Jobs -->
	<div class="eleven columns">
	<div class="padding-right">
		
		<form action="#" method="get" class="list-search">
			<button><i class="fa fa-search"></i></button>
			<input type="text" placeholder="찾으시는 교육영상을 검색하세요!" value=""/>
			<div class="clearfix"></div>
		</form>

		<ul class="job-list full">

			<li><a href="media-page.html">
				<img src="images/job-list-logo-01.png" alt="">
				<div class="job-list-content">
					<h4>[코로나19 시대 집콕운동] 제 1편, 생활 속 스트레칭! <span class="full-time">운동</span></h4>
					<div class="job-icons">
						<span><i class="fa fa-briefcase"></i> 한국건강증진개발원</span>
						<span><i class="fa fa-map-marker"></i> 보건복지부</span>
						<span><i class="fa fa-money"></i> $10 / hour</span>
					</div>
					<p>
						보건복지부와 한국건강증진개발원은 집에서도 쉽게 체력을 높이고, 근골격계 질환을 예방할 수 있는 '코로나19 예방을 위한 실내 신체활동' 영상 3편을 만들었습니다.  제 1편은 바로! "스트레칭" 집에서 따라만해도 건강을 증진할 수 있는 10가지 생활 속 스트레칭으로 건강증진개발원과 함께 건강한 집콕생활 만들어 봐요~ 
					</p>
				</div>
				</a>
				<div class="clearfix"></div>
			</li>

			<li><a href="media-page.html">
				<img src="images/job-list-logo-02.png" alt="">
				<div class="job-list-content">
					<h4>집에서도 만성질환을 관리한다! <span class="part-time">만성질환 관리</span></h4>
					<div class="job-icons">
						<span><i class="fa fa-briefcase"></i> 보건복지부</span>
						<span><i class="fa fa-map-marker"></i> 보건복지부</span>
						<span><i class="fa fa-money"></i> $5 / hour</span>
					</div>
					<p>매일 혈당을 측정하는 것은 합병증 예방뿐 아니라 갑작스런 저혈당 등 응급상황 예방을 위해서도 중요하다는 사실 알고계신가요?!</p>
				</div>
				</a>
				<div class="clearfix"></div>
			</li>

			<li><a href="media-page.html">
				<img src="images/job-list-logo-03.png" alt="">
				<div class="job-list-content">
					<h4>만성 근육통을 위한 생활운동 <span class="full-time">운동</span></h4>
					<div class="job-icons">
						<span><i class="fa fa-briefcase"></i> 서울아산병원</span>
						<span><i class="fa fa-map-marker"></i> 서울아산병원</span>
						<span><i class="fa fa-money"></i> Free / hour</span>
					</div>
					<p>뭉친 근육은 풀어주고 약한 근육은 강화하는 운동치료</p>
				</div>
				</a>
				<div class="clearfix"></div>
			</li>

			<li><a href="media-page.html">
				<img src="images/job-list-logo-04.png" alt="">
				<div class="job-list-content">
					<h4>올바른 건강식생활 실천 홍보/교육 영상 <span class="internship">식습관</span></h4>
					<div class="job-icons">
						<span><i class="fa fa-briefcase"></i> 한국건강증진개발원</span>
						<span><i class="fa fa-map-marker"></i> 한국건강증진개발원</span>
						<span><i class="fa fa-money"></i> $7.5 / hour</span>
					</div>
					<p>
						여러분은 하루에 섭취해야 하는 5대 영양소에는 어떤 것들이 있는지 알고 계신가요?
						또한 우리 몸에 필요한 5대 영양소를 제때에, 골고루, 알맞게 섭취하고 계신가요?
						그러기 위해선 규칙적인 식사와 과일, 채소 섭취 그리고 물 마시기 등이 필요합니다. 
						과연 우리는 얼마나 잘 지키고 있을까요? 함께 생각해 볼까요?
					</p>
				</div>
				</a>
				<div class="clearfix"></div>
			</li>

			<li><a href="media-page.html">
				<img src="images/job-list-logo-05.png" alt="">
				<div class="job-list-content">
					<h4>메디로그 사용법<span class="temporary">기타</span></h4>
					<div class="job-icons">
						<span><i class="fa fa-briefcase"></i> 메디로그</span>
						<span><i class="fa fa-map-marker"></i> 메디로그</span>
						<span><i class="fa fa-money"></i> Free / hour</span>
					</div>
					<p>의료 화상상담/교육플렛폼 메디로그에 오신 분들 환영합니다!</p>
				</div>
				</a>
				<div class="clearfix"></div>
			</li>
			<li><a href="media-page.html">
				<img src="images/job-list-logo-02.png" alt="">
				<div class="job-list-content">
					<h4>당뇨병 청각장애인의 만성질환 관리를 위한 건강생활 가이드북 <span class="part-time">만성질환 관리</span></h4>
					<div class="job-icons">
						<span><i class="fa fa-briefcase"></i> 국립재활원</span>
						<span><i class="fa fa-map-marker"></i> London</span>
						<span><i class="fa fa-money"></i> Free / hour</span>
					</div>
					<p>당뇨병 청각장애인의 만성질환 관리를 위한 건강생활 가이드북</p>
				</div>
				</a>
				<div class="clearfix"></div>
			</li>
		</ul>
		<div class="clearfix"></div>

		<div class="pagination-container">
			<nav class="pagination">
				<ul>
					<li><a href="#" class="current-page">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li class="blank">...</li>
					<li><a href="#">5</a></li>
				</ul>
			</nav>

			<nav class="pagination-next-prev">
				<ul>
					<li><a href="#" class="prev">Previous</a></li>
					<li><a href="#" class="next">Next</a></li>
				</ul>
			</nav>
		</div>

	</div>
	</div>


	<!-- Widgets -->
	<div class="five columns">

		<!-- Sort by -->
		<div class="widget">
			<h4>Sort by</h4>

			<!-- Select -->
			<select data-placeholder="Choose Category" class="chosen-select-no-single">
				<option selected="selected" value="recent">Newest</option>
				<option value="oldest">Oldest</option>
				<option value="expiry">Expiring Soon</option>
				<option value="ratehigh">Hourly Rate – Highest First</option>
				<option value="ratelow">Hourly Rate – Lowest First</option>
			</select>

		</div>

		<!-- Location -->

		<!-- Job Type -->
		<div class="widget">
			<h4>카테고리</h4>

			<ul class="checkboxes">
				<li>
					<input id="check-1" type="checkbox" name="check" value="check-1" checked>
					<label for="check-1">모든 교육영상</label>
				</li>
				<li>
					<input id="check-2" type="checkbox" name="check" value="check-2">
					<label for="check-2">운동 <span>(312)</span></label>
				</li>
				<li>
					<input id="check-3" type="checkbox" name="check" value="check-3">
					<label for="check-3">식습관 개선 <span>(269)</span></label>
				</li>
				<li>
					<input id="check-4" type="checkbox" name="check" value="check-4">
					<label for="check-4">만성질환 관리 <span>(46)</span></label>
				</li>
				<li>
					<input id="check-5" type="checkbox" name="check" value="check-5">
					<label for="check-5">기타 <span>(119)</span></label>
				</li>
			</ul>

		</div>

		<!-- Rate/Hr -->
		<div class="widget">
			<h4>Rate / Hr</h4>

			<ul class="checkboxes">
				<li>
					<input id="check-6" type="checkbox" name="check" value="check-6" checked>
					<label for="check-6">Any Rate</label>
				</li>
				<li>
					<input id="check-7" type="checkbox" name="check" value="check-7">
					<label for="check-7">$0 - $25 <span>(231)</span></label>
				</li>
				<li>
					<input id="check-8" type="checkbox" name="check" value="check-8">
					<label for="check-8">$25 - $50 <span>(297)</span></label>
				</li>
				<li>
					<input id="check-9" type="checkbox" name="check" value="check-9">
					<label for="check-9">$50 - $100 <span>(78)</span></label>
				</li>
				<li>
					<input id="check-10" type="checkbox" name="check" value="check-10">
					<label for="check-10">$100 - $200 <span>(98)</span></label>
				</li>
				<li>
					<input id="check-11" type="checkbox" name="check" value="check-11">
					<label for="check-11">$200+ <span>(21)</span></label>
				</li>
			</ul>

		</div>



	</div>
	<!-- Widgets / End -->


</div>


<!-- Footer
================================================== -->
<div class="margin-top-25"></div>

<div id="footer">
	<!-- Main -->

	<!-- Bottom -->

</div>

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

</div>
<!-- Wrapper / End -->


<!-- Scripts
================================================== -->
<script src="scripts/jquery-2.1.3.min.js"></script>
<script src="scripts/custom.js"></script>
<script src="scripts/jquery.superfish.js"></script>
<script src="scripts/jquery.themepunch.tools.min.js"></script>
<script src="scripts/jquery.themepunch.revolution.min.js"></script>
<script src="scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="scripts/jquery.flexslider-min.js"></script>
<script src="scripts/chosen.jquery.min.js"></script>
<script src="scripts/jquery.magnific-popup.min.js"></script>
<script src="scripts/waypoints.min.js"></script>
<script src="scripts/jquery.counterup.min.js"></script>
<script src="scripts/jquery.jpanelmenu.js"></script>
<script src="scripts/stacktable.js"></script>


</body>
</html>