<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<title>교육영상 시청</title>

<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="css/eduboard_style.css">
<link rel="stylesheet" href="css/colors/navy.css" id="colors">

<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>
<div id="wrapper">


<!-- Header
================================================== -->
<header>
<div class="container">
	<div class="sixteen columns">

		<!-- Logo -->
		<div id="logo">
			<h7><a href="/"><img src="assets/img/medilogue-logo.svg" alt="Medilogue" style="width: 180px; height: 90;" /></a></h7>
		</div>

		<!-- Menu -->
		
		<!-- Navigation -->

	</div>
</div>
</header>
<div class="clearfix"></div>


<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="ten columns">
			<span>1,412 개의 교육영상이 있습니다!:</span>
			<!-- <h2>Web, Software & IT</h2> -->
		</div>

		<div class="six columns">
			<a href="/addmedia" class="button">교육영상 등록</a>
		</div>

	</div>
</div>


<!-- Content
================================================== -->
<div class="container">
	<!-- Recent Jobs -->
	<div class="eleven columns">
	<div class="padding-right">
		
		<form action="#" method="get" class="list-search">
			<button><i class="fa fa-search"></i></button>
			<input type="text" placeholder="찾으시는 교육영상을 검색하세요!" value=""/>
			<div class="clearfix"></div>
		</form>

		<ul class="job-list full">
			<%
			for(var i=0; i<rows.length; i++)
			{
			%>
			<li><a href="/mediapage/<%=rows[i].idx%>">
				<img src="images/job-list-logo-01.png" alt="">
				<div class="job-list-content">
					<h4><%=rows[i].title%>
						<%
						if(rows[i].category==1){%>
							<span class="full-time">운동</span>
						<%}%>

						<%
						if(rows[i].category==2){%>
							<span class="internship">식습관 개선</span>
						<%}%>

						<%
						if(rows[i].category==3){%>
							<span class="part-time">만성질환관리</span>
						<%}%>
						<%
						if(rows[i].category==4){%>
							<span class="freelance">기타</span>
						<%}%>
					</h4>
					<div class="job-icons">
						<span><i class="fa fa-briefcase"></i> <%=rows[i].registrant%></span>
					</div>
					<p>
						<%=rows[i].content%>
					</p>
				</div>
				</a>
				<div class="clearfix"></div>
			</li>
			<%}%>
		</ul>
		<div class="clearfix"></div>

		<div class="pagination-container">
			<nav class="pagination">
				<ul>
					<li><a href="#" class="current-page">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li class="blank">...</li>
					<li><a href="#">5</a></li>
				</ul>
			</nav>

			<nav class="pagination-next-prev">
				<ul>
					<li><a href="#" class="prev">이전페이지</a></li>
					<li><a href="#" class="next">다음페이지</a></li>
				</ul>
			</nav>
		</div>

	</div>
	</div>


	<!-- Widgets -->
	<div class="five columns">

		<!-- Sort by -->
		<div class="widget">
			<h4>게시판 정렬 방식</h4>

			<!-- Select -->
			<select data-placeholder="Choose Category" class="chosen-select-no-single">
				<option value="oldest">오래된 영상</option>
				<option selected="selected" value="recent">새 영상</option>
				<option value="ratehigh">긴 영상</option>
				<option value="ratelow">짧은 영상</option>
			</select>

		</div>

		<!-- Location -->

		<!-- Job Type -->
		<div class="widget">
			<h4>카테고리</h4>

			<ul class="checkboxes">
				<li>
					<input id="check-1" type="checkbox" name="check" value="check-1" checked>
					<label for="check-1">모든 교육영상</label>
				</li>
				<li>
					<input id="check-2" type="checkbox" name="check" value="check-2">
					<label for="check-2">운동 <span>(312)</span></label>
				</li>
				<li>
					<input id="check-3" type="checkbox" name="check" value="check-3">
					<label for="check-3">식습관 개선 <span>(269)</span></label>
				</li>
				<li>
					<input id="check-4" type="checkbox" name="check" value="check-4">
					<label for="check-4">만성질환 관리 <span>(46)</span></label>
				</li>
				<li>
					<input id="check-5" type="checkbox" name="check" value="check-5">
					<label for="check-5">기타 <span>(119)</span></label>
				</li>
			</ul>

		</div>
	</div>
	<!-- Widgets / End -->


</div>


<!-- Footer
================================================== -->
<div class="margin-top-25"></div>

<div id="footer">
	<!-- Main -->

	<!-- Bottom -->

</div>

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

</div>
<!-- Wrapper / End -->


<!-- Scripts
================================================== -->
<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/custom.js"></script>
<script src="js/jquery.superfish.js"></script>
<script src="js/jquery.themepunch.tools.min.js"></script>
<script src="js/jquery.themepunch.revolution.min.js"></script>
<script src="js/jquery.themepunch.showbizpro.min.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="js/chosen.jquery.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/jquery.jpanelmenu.js"></script>
<script src="js/stacktable.js"></script>


</body>
</html>