<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRO</title>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/354885cafc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
    <nav>
        <div class="container">
            <div class="title">
                <i class="fab fa-pied-piper-square"></i>
                <a href="/">PRO</a>
            </div>
            <div class="menu_bar">
                <ul>
                    <li><a href="">test</a></li>
                    <li><a href="/login">login</a></li>
                    <li><a href="/register">register</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section>
        <div class="container_form">
            <form method="post">
                <ul>
                    <li>
                        <label>아이디는</label>
                        <input type="text" name='id' required>
                    </li>
                    <li>
                        <label>비밀번호</label>
                        <input type="password" name="pw" required>
                    </li>
                </ul>
                <input type="submit" value="로그인">
            </form>
        </div>
    </section>
</body>
</html>
