<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<h3>login</h3>
<form action="/user/login" method="post">
    <table>
        <tr>
            <td>email : </td>
            <td><input type="text" name="userEmail"></td>
        </tr>
        <tr>
            <td>password : </td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td><input type="submit" value="로그인"></td>
        </tr>
    </table>
</form>

</body>
</html>